# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Go build outputs
*.out

# IDE/editor stuff
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Go modules cache (not needed in repo)
go.sum

image*.png